<main class="container-fluid mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div [class.show]="userLoginRequestStatus['type'] !== 0"
        [class.alert-danger]="userLoginRequestStatus['type'] === -1"
        [class.alert-success]="userLoginRequestStatus['type'] === 1" class="alert alert-dismissible fade" role="alert">
        {{ userLoginRequestStatus.message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
          (click)="resetUserLoginRequestError()"></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-1">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="userLoginForm" (ngSubmit)="submitUserLoginForm($event)" class="form" novalidate>
            <div class="form-group mb-3">
              <label for="emailInput" class="form-label">Email</label>
              <input [class.is-valid]="getUserLoginFormControlState('email')['isValidAndTouched']"
                [class.is-invalid]="getUserLoginFormControlState('email')['isInvalidAndTouched']"
                formControlName="email" type="email" class="form-control rounded-1" required />
              <div class="invalid-feedback"
                *ngIf="getUserLoginFormControlState('email')['isTouchedOrDirty'] && getUserLoginFormControlError('email', 'required')">
                Email is required!
              </div>
              <div class="invalid-feedback"
                *ngIf="getUserLoginFormControlState('email')['isTouchedOrDirty'] && getUserLoginFormControlError('email', 'email')">
                Email must be a valid email address! E.g john.doe&#64;example.com
              </div>
              <div class="valid-feedback" *ngIf="getUserLoginFormControlState('email')['isValidAndTouched']">
                Looks good!
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="passwordInput" class="form-label">Password</label>
              <input [class.is-valid]="getUserLoginFormControlState('password')['isValidAndTouched']"
                [class.is-invalid]="getUserLoginFormControlState('password')['isInvalidAndTouched']"
                formControlName="password" type="password" class="form-control rounded-1" required />
              <div class="invalid-feedback"
                *ngIf="getUserLoginFormControlState('password')['isTouchedOrDirty'] && getUserLoginFormControlError('password', 'required')">
                Password is required!
              </div>
              <div class="valid-feedback" *ngIf="getUserLoginFormControlState('password')['isValidAndTouched']">
                Looks good!
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="userLoginForm.invalid">Login</button>
          </form>
        </div>
        <div class="card-footer">
          Don't have an account?
          <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"
            href="javascript:void(0)">register</a>
          instead
        </div>
      </div>
    </div>
  </div>
</main>